<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#!/">
        <img src="images/logo.png" width="40" height="40" alt="logo">
    </a>
    <a class="navbar-brand" href="#!/">Crédit de l'écureuil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div ng-if="!vm.user">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/register">Inscription<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/registerpro" style="color:yellow;">Inscription Pro<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/login">Connexion<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div ng-if="vm.user.isAdmin">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion des comptes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/consultation_admin">Consultation</a>
                        <a class="dropdown-item" href="#!/virement_admin">Virement</a>
                        <a class="dropdown-item" href="#!/create_account_admin">Ouvrir un nouveau livret</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Messagerie
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="envoyer_message.htm">Envoyer un message</a>
                        <a class="dropdown-item" href="consulter_messagerie.htm">Consulter la messagerie</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/notifications">Notifications<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/disconnect">Deconnexion<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div ng-if="!vm.user.isAdmin && vm.user">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/profil">Profil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion des comptes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/consultation">Consultation</a>
                        <a class="dropdown-item" href="#!/virement">Virement</a>
                        <a class="dropdown-item" href="#!/create_account">Ouvrir un nouveau livret</a>
                        <a class="dropdown-item" href="#!/create_linked_account">Ouvrir un compte joint</a>
                    </div>
                </li>
                <div ng-if="vm.user.isPro">
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/ordre_bourse">Ordre en bourse<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Messagerie
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/envoyer_message">Envoyer un message</a>
                        <a class="dropdown-item" href="#!/consulter_messagerie">Consulter la messagerie</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/notifications">Notifications<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/disconnect">Deconnexion<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table table-fit table-striped" id="table">
    <thead style="background-color:#ffb860;">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id du compte</th>
            <th scope="col">Proprietaire</th>
            <th scope="col">Intitule</th>
            <th scope="col">Solde</th>
            <th colspan="2" scope="col">Options</th>
        </tr>
    </thead>
    <tbody id="table">
        {{vm.displayAccount()}}
    </tbody>
</table>
