<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#!/">
        <img src="images/logo.png" width="40" height="40" alt="logo">
    </a>
    <a class="navbar-brand" href="#!/">Crédit de l'écureuil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div ng-if="!vm.user">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/register">Inscription<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/registerpro" style="color:yellow;">Inscription Pro<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/login">Connexion<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div ng-if="vm.user.isAdmin">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/profil">Profil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion des comptes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/consultation_admin">Consultation</a>
                        <a class="dropdown-item" href="#!/virement_admin">Virement</a>
                        <a class="dropdown-item" href="#!/create_account_admin">Ouvrir un nouveau livret</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Messagerie
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="envoyer_message.htm">Envoyer un message</a>
                        <a class="dropdown-item" href="consulter_messagerie.htm">Consulter la messagerie</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/notifications">Notifications<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/disconnect">Deconnexion<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div ng-if="!vm.user.isAdmin && vm.user">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/profil">Profil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion des comptes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/consultation">Consultation</a>
                        <a class="dropdown-item" href="#!/virement">Virement</a>
                        <a class="dropdown-item" href="#!/create_account">Ouvrir un nouveau livret</a>
                        <a class="dropdown-item" href="#!/create_linked_account">Ouvrir un compte joint</a>
                    </div>
                </li>
                <div ng-if="vm.user.isPro">
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/ordre_bourse">Ordre en bourse<span class="sr-only">(current)</span></a>
                    </li>
                </div>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Messagerie
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!/envoyer_message">Envoyer un message</a>
                        <a class="dropdown-item" href="#!/consulter_messagerie">Consulter la messagerie</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/notifications">Notifications<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/disconnect">Deconnexion<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron" style="background-color:#ffb860;">
    <div class="container">
        <h1 class="display-3">Le crédit de l'écureuil</h1>
        <p align="justify">
            La banque en ligne Credit de l'Ecureuil est créée dans le cadre du cours de AAW du Master 2 Informatique
            de l'Université de Poitiers.
        </p>
        <p align="justify">
            Ce site reste une maquette, par exemple les boutons sur la page d'index sont factices. Néanmoins les
            interactions avec la base de données sont réelles et il est possible d'interagir normalement. Le système de la 
            banque a été simplifié, il faut par exemple s'inscrire avec une adresse mail. Il n'y a pas de restrictions avec le mot
            de passe (n'importe quel mot de passe est accepté).
        </p>
        <p align="justify">
            Vous pourrez retrouver ci-dessous des explications sur les fonctionnalités disponibles sur ce site.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    </div>

    <div class="container">
    <!-- Example row of columns -->
    <div class="row">
    <div class="col-md-4">
    <h2>Pourquoi nous ?</h2>
    <p align="justify">
        Nous permettons à nos utilisateurs d'organiser leur compte bancaire à leur souhait. Il est ainsi possible
        d'ouvrir n'importe quel livret où vous pourrez organiser votre argent. Vous pouvez également les supprimer
        si le solde du livret est nul. Il est également possible d'ouvrir un compte joint de 1 à n autres personnes.
        Seul le propriétaire (créateur) peut supprimer le compte joint.
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
    <h2>Nos avantages</h2>
    <p align="justify">
        Nous permettons la gestion de profil pour vous laisser le choix de modifier vos informations personnelles.
        Il est également possible de communiquer avec les autres utilisateurs grâce à notre service de messagerie.
        Enfin dès l'ouverture d'un compte, vous obtenez 100€ !
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
    <h2>Vous inscrire</h2>
    <p align="justify">
        Il existe 2 catégories : Utilisateur et UtilisateurPro. L'utilisateur pro doit posséder une entreprise (un siret),
        il pourra ainsi accéder à l'ordre en bourse qui permet de vendre des parts de son entreprise. Les informations
        de l'entreprise sont accessibles depuis le profil comme celles de l'utilisateur.
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>

<hr>