/* 
    Created on : 29 sept. 2018, 13:59:31
    Author     : Romain
*/

@import url("button-next.css");
@import url("button-previous.css");

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: orangered;
    border-color: orangered;
}

.form-control:focus{
    border-color : orangered;
}

.text-info {
    color: orangered !important;
}

body {
    padding-top: 55px;
    padding-bottom: 55px;
}